<div class="header">
  <div class="meta">
    <img
      alt="author image"
      src="https://api.realworld.io/images/demo-avatar.png"
    />
    <div class="info">
      <a class="author">{{ article.author }}</a>
      <span class="date">{{ article.createDate | date : "MMMM d, yyyy" }}</span>
    </div>
  </div>
  <app-favorite-button [count]="article.favoriteCount"></app-favorite-button>
</div>
<div class="content">
  <h1>{{ article.title }}</h1>
  <p>{{ article.description }}</p>
</div>
<div class="footer">
  <a [routerLink]="['../', 'article', 'content', article.id]">Read more...</a>
  <app-tag-list className="outline" [tags]="article.tags"></app-tag-list>
</div>
