<div class="form" [formGroup]="form">
  <input
    type="text"
    class="form-input-lg"
    placeholder="Article Title"
    formControlName="title"
  />
  <div class="error-message" *ngIf="title.hasError('required')">
    請輸入標題內容
  </div>
  <input
    type="text"
    placeholder="What's this article about?"
    formControlName="description"
  />
  <textarea
    rows="8"
    placeholder="Write your article (in markdown)"
    formControlName="content"
  ></textarea>
  <div class="tags"></div>
  <div class="button">
    <button type="button" [disabled]="form.invalid" (click)="onSave()">
      Publish Article
    </button>
  </div>
</div>
