div.form {
  margin: auto;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-left: 10px;
}

input,
textarea {
  margin: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.footer-input-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

div.tags button {
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background: #fff;
  font-weight: 600;
  cursor: pointer;
}

div.tags button.add {
  color: #5cb85c;
  border: 1px solid #5cb85c;
}

div.tags button.remove {
  color: red;
  border: 1px solid red;
  margin-right: 15px;
}

div.tag {
  margin-top: 10px;
}

div.tag input {
  width: 200px;
}

div.button {
  text-align: right;
}

div.button > button {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: white;
  background: #5cb85c;
  border: 1px solid #5cb85c;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
}
